<div class="container">

  <h1 class="my-4">Autor</h1>

  <div class="row">
      <div class="col-lg-6">
        <img class="img-fluid rounded mb-4" [attr.src]="src" [attr.alt]="alt" />
      </div>
      <div class="col-lg-6" [@textAnimation]>
        <h4>Ukratko o autoru...</h4>
        <p><b>Uros Markov</b>, rodjen 9. aprila 1995. godine u Beogradu. Trenutno sam student na Visokoj ICT skoli,
        na smeru Internet tehnologije, modul Web programiranje.Ovaj projekat je realizovan kao ispitna obaveza iz predmeta
      Praktikum iz web programiranja.</p>
        <hr>
        <p>uros.markov.42.15@ict.edu.rs</p>
      </div>
    </div>
</div>